[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/tsudakageyu/minhook
[submodule "deps/discord-presence"]
	path = deps/discord-presence
	url = https://github.com/EclipseMenu/discord-presence
